<h2>Buenas prácticas de Seguridad para las API REST</h2> <br><br>

<p><b>¿Qué es una API REST?</b> <br> <br>

    Representational State Transfer (REST) es un enfoque de implementación de API que utiliza el 
    protocolo de transferencia de hipertexto (HTTP) para crear conexines. La API REST utiliza 
    HTTP para recopilar datos, transferir datos y coordinar la ejecución de tareas entre sistemas remotos. 
    <br><br>
    Las API REST utilizan principalmente archivos de notación de objetos JavaScript(JSON)
    para comprimir y transferir datos de una palicación web a otra. Los archivos JSON osn pequeños
    y, por lo tanto, más fáciles de transferir, y también son un archivo web estándar, lo que 
    significa que los navegadores receptores podrían leer el archivo sin la ayuda de la API. 
</p> <br>
<p>
    <b>Conceptos claves que se deben tener al diseñar las API REST:</b>
</p> 
<ul>
    <li>Autenticación/Autorización</li>
    <li>Validación de ingresos</li>
    <li>Definir tipos de contenido</li>
    <li>Codificación para datos en tránsito y almacenamiento</li>
    <li>Responder con los códigos de estado apropiados para evitar la ambiguedad</li>
</ul> <br>

